   <div class="row">

       <div class="col-md-6">
        <h1> Welcome! <%= user.personal.first_name %> <%= user.personal.last_name %>! </h1>

            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>

                        <p>
                            <strong>id</strong>: <%= user._id %><br>

                            <strong>email</strong>: <%= user.local.email %><br>
                            <strong>password</strong>: <%= user.local.password %>

                            <strong>first_name</strong>: <%= user.personal.first_name %>
                            <strong>last_name</strong>: <%= user.personal.last_name %>
                            <strong>major</strong>: <%= user.personal.major %>
                            <strong>major</strong>: <%= user.role %>

                        </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <a href="/add_brother" class="btn btn-default btn-sm">Add Brother</a>
            <br>

            <a href="/rushee_list" class="btn btn-default btn-sm">See Rushees</a>
            <br>

            <a href="/voting" class="btn btn-default btn-sm">Vote!</a>
            
        </div>
    </div>