   <div class="row">
    <p> Your decision will be announced in the upcoming 2 weeks! </p>

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>

                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>

                        <strong>first_name</strong>: <%= user.personal.first_name %>
                        <strong>last_name</strong>: <%= user.personal.last_name %>
                        <strong>major</strong>: <%= user.personal.major %>
                        <strong>major</strong>: <%= user.role %>

                    </p>

            </div>
        </div>
    </div>